<%= form_for(@entry, :html => {:onsubmit => "return landing.emailSend(this);"}) do |f| %>
    <% if @entry.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Оставьте нам свой e-mail, и мы отправим Вам детали <br />
    <%= f.text_field :email, :class => "email_field" %>
    <input class="send_button" type="submit" value="Отправить">
  </div>
<% end %>
