<div id="main_wrap">
    <div id="outside" class="center">
        <%= image_tag("datool.png", class: "back_img") %>
        <div id="inside">
            <div id="changeable_withform">
                <h1>Заинтересованы?</h1>
                <%= render 'form' %>
            </div>
            <div id="changeable_thanks" style="display: none;">
                <h1>Спасибо!</h1>
            </div>
            <div id="share">
                <div class="facebook">
                    <div class="fb-like" data-href="http://facebook.com/datoolteam" data-width="50" data-layout="button_count" data-show-faces="false" data-send="false"></div>
                </div>
                <div class="twitter">
                    <a href="https://twitter.com/datoolteam" class="twitter-follow-button" data-show-count="true" data-show-screen-name="false">Follow
                        @datoolteam</a>
                    <script>!function (d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + '://platform.twitter.com/widgets.js';
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, 'script', 'twitter-wjs');</script>
                </div>
                    <!-- VK Widget -->
                    <div id="vk_like" class="vk"></div>
                    <script type="text/javascript">
                        VK.Widgets.Like("vk_like", {type: "button", height:20})
                    </script>
                <!--<span class='st_facebook_hcount' displayText='Facebook'></span>
                <span class='st_twitter_hcount' displayText='Tweet'></span>
                <span class='st_vkontakte_hcount' displayText='Vkontakte'></span>-->
            </div>
        </div>
    </div>
    <div id="footer">&copy;2013 daTool. All rights reserved.</div>
</div>
