#main_wrap {
    position: relative;
    width: 100%;
    height: 100%;
}
#outside {
    position: fixed;
    display: block;
    width: 845px;
    height: 600px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}
#inside {
    display: inline-block;
    vertical-align: top;
    margin-top: 200px;
    margin-left: 27px;
}
#footer {
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    text-align: center;
    height: 20px;
    background-color: white;
    color: #A03936;
}
.back_img {
    display: inline-block;
}
.send_button {
    background-color: #fff;
    color: #A03936;
    border: none;
    width: 94px;
    height: 22px;
    font-size: 16px;
}
.email_field {
    border: 3px;
    color: #A03936;
    border-color: #A03936;
    height: 20px;
    width: 270px;
    margin-top: 10px;
}
#share {
    display: inline-block;
}
.facebook {
    display: inline-block;
    position: absolute;
}
.twitter {
    display: inline-block;
    margin-left: 78px;
}
.vk {
    position: relative;
    display: inline-block;
    height: 20px !important;
    width: 145px !important;
    margin-left: -32px;
    overflow: hidden;
}
.fb_edge_widget_with_comment span.fb_edge_comment_widget iframe.fb_ltr {
    display: none !important;
}
