<!DOCTYPE html>
<html>
<head>
    <title>Ecollector</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <script type="text/javascript" src="//vk.com/js/api/openapi.js?98"></script>
    <script>
        //VK initialize
        //apiId
        //peoplewant2know.com=>3808796
        //ecollector.herokuapp.com=3808601
        VK.init({
            apiId:3808796,
            onlyWidgets:true
        });
    </script>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
    fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<%= yield %>
</body>
</html>
